@import url('https://fonts.googleapis.com/css?family=Aref+Ruqaa:400,700|Asul:400,700&display=swap');

body{
    background-color: #000;
    color: red;
    margin: 0;
    padding: 0;
} .page{
    box-sizing: border-box;
    background-color: #222;
    margin: .5pc auto;
    max-width: 64pc;
    padding: 4pc;
}

a:link {
    color: #abf
}
a:visited {
    color: #d9f
}
a:hover {
    color: 
}
a:active {
    color: orangered
}


table{
    table-layout: fixed;
    margin: 0pc 2pc;
    color: #303030;
    font-size: 11pt;
    font-family: "Asul", serif;
    border-collapse: collapse;
} td, th{
    padding: 2pt 4pt;
    border-style: solid none;
    border-color: #d9d9d9;
    border-width: 1pt;
    text-align: left;
} thead th{
    color: #ffffff;
    background-color: #9F8E58;
    font-weight: bold;
    vertical-align: top;
} tbody td,tbody th{
    background-color: #fff9e6;
    font-weight: normal;
}


p,ol,ul{
    margin: 6pt 0pt 4pt;
    color: #EFE1D5;
    font-size:	11pt;
    font-family: "Asul", serif;
    text-indent: 2pc;
}


h1,h2,h3,h4,h5,h6 {
    margin: 0pc 1pc 0pc;
    padding: 0pc;
    font-weight: bold;
}

/*h1+h2,h2+h3,h3+h4,h4+h5,h5+h6 {
    margin-top: .5pc;
}*/
.page .title{
    text-shadow: 2px 2px 4px #ffffff;
    text-decoration: underline;
}

h1{
    color:#9CE;
    margin-top:	16pt;
    font-size:	32pt;
    font-family: 'Aref Ruqaa', serif;
    text-align: center;
}

h2{
    color:#5CE;
    margin-top:	12pt;
    font-size:	24pt;
    font-family: 'Aref Ruqaa', serif;
}

h3 {
    color:#9CE;
    margin-top:	8pt;
    font-size:	16pt;
    font-family: 'Aref Ruqaa', serif;
}

h4 {
    color:#9EC;
    margin-top:	6pt;
    font-size:	12pt;
    font-weight: bolder;
    font-family: 'Aref Ruqaa', serif;
} h2+h4 {
    margin-top: 2pt;
}